body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#displayTodo, #displayTodo1{
    width: 97%;
    height: 70%;
    border-width: thin;
    border-style: solid;
    padding-left: 0.5%;
}
div{
    display: flex;
    flex-direction: row;
    font-size: large;
}
#newtime, #newtodo{
    margin-right: 1%;
}
#check{
    margin: 0.5%;
    background-color: rgb(0, 168, 0);
    padding: 1%;
    width: 30px;
}
#delete{
    padding: 1%;
}
div{
    display: flex;
    flex-direction: row;
    font-size: larger;
    justify-content: space-between;
}
pre{
    
    margin: 0%;
}
